In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("fb_data/FBCosDist.csv")

In [16]:
data[(data["ISO_CODE_1"] == "DK") & (data["ISO_CODE_2"] == "SE")]

      ISO_CODE_1 ISO_CODE_2    FBDist
11652         DK         SE  0.076879

In [17]:
data[(data["ISO_CODE_1"] == "DK") & (data["ISO_CODE_2"] == "WS")]

      ISO_CODE_1 ISO_CODE_2    FBDist
11693         DK         WS  0.195857

In [18]:
data[(data["ISO_CODE_1"] == "DK") & (data["ISO_CODE_2"] == "VE")]

      ISO_CODE_1 ISO_CODE_2    FBDist
11687         DK         VE  0.218252

In [27]:
data[(data["ISO_CODE_1"] == "FO") & (data["ISO_CODE_2"] == "RU")]

      ISO_CODE_1 ISO_CODE_2    FBDist
14572         FO         RU  0.284525

In [21]:
data[(data["ISO_CODE_1"] == "DK")].sort_values("FBDist")

      ISO_CODE_1 ISO_CODE_2    FBDist
11526         DK         DK  0.000000
11652         DK         SE  0.076879
11624         DK         NO  0.084590
11542         DK         GB  0.096779
11508         DK         CA  0.098178
...          ...        ...       ...
11678         DK         TV  0.542433
11637         DK         PM  0.544636
11599         DK         MF  0.553496
11610         DK         MS  0.582500
11671         DK         TK  0.751855

[225 rows x 3 columns]

In [11]:
data[data["FBDist"] > 0.0]

      ISO_CODE_1 ISO_CODE_2    FBDist
1             AD         AE  0.233552
2             AD         AF  0.279233
3             AD         AG  0.227161
4             AD         AI  0.262021
5             AD         AL  0.216498
...          ...        ...       ...
50619         ZW         XK  0.279361
50620         ZW         YE  0.160265
50621         ZW         YT  0.160963
50622         ZW         ZA  0.087350
50623         ZW         ZM  0.076934

[50400 rows x 3 columns]

In [8]:
data[data["FBDist"] == 0.9065142607107856]

      ISO_CODE_1 ISO_CODE_2    FBDist
30571         MS         TK  0.906514
44235         TK         MS  0.906514

In [ ]:
Montserrat

In [ ]:
 Tokelau